* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
li {
  line-height: 25px;
  list-style-type: none;
  font-size: 15px;
}
.container {
  width: 100%;
  height: 100vh;
  background: black;
}
/* SIDEBAR */
.logo {
  width: 200px;
  display: none;

}
.logo img {
  width: 100%;
}
.sidebar {
  width: 100%;
  height: 70px;
  background: black;
  display: flex;
  align-items: center;
}
/* Search */
.searchBox {
  height: 40px;
  border-radius: 40px;
  padding: 10px;

  position: absolute;
  top: 13px;
  right: 14px;
}
.searchBox:hover {
  background: #2f3640;
}
.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
    padding-right: 50px;
    background: #2f3640;
    color : white;
}
.searchBox:hover > .searchButton {
  background:red;
  color : #2f3640;
}

.searchButton {
    color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid red;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
}
/* Fine Search */
/* FINE SIDEBAR */

/* ERROR MESSAGE */
.error-message {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  align-items: center;
  padding-right: 50px;
  width: 100%;
}
 span {
  color: red;
  text-align: left;
}
/* FINE ERROR MESSAGE */

/* MAIN */
main {
  overflow: scroll;
  height: 100%;
  height: calc(100vh - 100px);
  width: 100%;
}
.movies-list {
  height: calc(100vh - 100px);
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
  margin: auto;
}
/* Card */
.movie {
  border: 1px solid white;
  flex-basis: calc(( 100% / 3) - 9%);
  padding: 12px;
  background: #080808;
  margin-bottom: 10px;
  margin-right: 7px;
  color: white;
  height: 450px;
}

.movie-inner:hover .back-card{
  display: block;
}
.movie-inner{
  position: relative;
  height:100%;
}
.front-card {
  display: block;
  height:100%;
}
.back-card {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 10px;
}
.back-card li{
  /* font-size: 12px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.front-card img {
  width: 100%;
  height: 100%;
}
/* Fine Card */
.vote i{
  color: #ffc200;
}

.language img {
  width: 20px;
}
.active {
  display: none;
}
.visible {
  display: block;
}
/* FINE MAIN */
