* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
li {
  line-height: 25px;
  list-style-type: none;
  font-size: 15px;
}
.container {
  width: 100%;
  height: 100vh;
  background: black;
}
/* SIDEBAR */
.logo {
  width: 200px;
  display: none;

}
.logo img {
  width: 100%;
}
.sidebar {
  width: 100%;
  height: 70px;
  background: black;
  display: flex;
  align-items: center;
}
/* Search */
.search-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;;

}
.search-input input {
  width: 200px;
  height: 30px;

}
.search-ico i {
  color: white;
  padding-left: 10px;
  font-size: 20px;
}
.search {
  width: 100%;
  padding: 20px;
}
/* FINE SIDEBAR */
/* MAIN */
.movies-list {
  height: calc(100vh - 70px);
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  padding: 10px;
  overflow-x: auto;
  justify-content: space-between;
  margin: auto;
}
.movie {
  border: 1px solid white;
  height: 450px;
  flex-basis: calc(( 100% / 3) - 9%);
  /* padding: 12px; */
  background: #080808;
  margin-bottom: 10px;
  color: white

}
/* Visualizzazione card */

.movie-inner:hover .back-card{
  display: block;
}
.movie-inner{
  position: relative;
}
.front-card {
  display: block;
}
.back-card {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 10px;
}
.back-card li{
  /* font-size: 12px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Visualizzazione card */
.front-card img {
  width: 100%;
  height: 100%;
}
.vote i{
  color: #ffc200;
}

.language img {
  width: 20px;
}
.active {
  display: none;
}
.visible {
  display: block;
}
/* FINE MAIN */
