* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
li {
  line-height: 25px;
  list-style-type: none;
  font-size: 15px;
}
.container {
  width: 100%;
  height: 100vh;
  background: black;

}
/* SIDEBAR */
.sidebar {
  width: 100%;
  height: 70px;
  background: black;
}
/* Search */
.search-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;;

}
.search-input input {
  width: 200px;
  height: 30px;

}
.search-ico i {
  color: white;
  padding-left: 10px;
  font-size: 20px;
}
.search {
  width: 100%;
  padding: 20px;
}
.movies-list {
  height: calc(100vh - 70px);
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
  overflow-x: auto;
  justify-content: flex-start;
}
.movie {
  /* height: 300px; */
  border: 1px solid black;
  flex-basis: calc( 100% / 6);
  /* padding: 12px; */
  background: white;
  /* margin: 10px; */
  text-align: center;
}
.poster {
  width: 100%;
}
.vote i{
  color: #ffc200;
}

.flag {
  width: 20px;
}
